<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Butter: A Image Service</title>
</head>
<body>

<h1>Butter</h1>

<p>Butter is an image service
    where you use our api to
    auto generate URLs for images.
</p>

<p>Use it to populate your working site.</p>
<p>Use it as a avatar suggestion.</p>
<p>Use it as a place holder.</p>

<h3>APIs</h3>

<h4>Getting a image from persistent path:</h4>
<pre>https://butter.zzstudios.cn/p/{assigned-image-key}</pre>
<p>Example:</p>
<pre>https://butter.zzstudios.cn/p/COFFEE</pre>
<p>(This is probably not an image of coffee.
    It just happens to have the key `COFFEE`. )</p>




</body>
</html>